# להתעלם מתיקיית node_modules הראשית
/node_modules

# להתעלם מקבצי pem (קבצי מפתחות ואישורים)
pem.*

# להתעלם מתיקיית idea של IntelliJ
/idea.

# להתעלם מתיקיות node_modules בתוך צד הלקוח והשרת
Client/node_modules
Server/node_modules

# להתעלם מקבצי package-lock.json של צד הלקוח והשרת
Client/package-lock.json
Server/package-lock.json

.qodo
.env